#                     WORKSHEET
# PYTHON – WORKSHEET 12 (DATA CLEANING)


# Instructions: 
This is a data-cleaning worksheet. You have been given a dataset which includes the Melbourne house
prices data. You have to use pandas library for data-cleaning. You have to attempt all the questions in the same order as
given so that at the end you arrive at completely cleaned dataset with no missing values. Use jupyter notebook to solve
the exercise.



# Questions:
1. Determine the no. of rows and no. of columns in the dataset.
2. Display the datatypes of each column.
3. Determine the row indexes of rows having all null values (i.e. empty rows).
4. Determine the total number of empty rows and their percentage in whole dataset and remove them.
5. Determine the column names having missing values.
6. Determine the missing values and their percentage in each column.
7. Determine the row indexes having missing values.
8. Determine the missing values and their percentage in each row.
9. Determine the column names having more than 30% missing values and remove them from the dataset.
10. Determine the number and percentage of rows having more than 5 missing values. If the percentage of such
rows is less than 20% then remove all these rows.
11. Display the description of data and percentage of missing values still left column wise.
12. Considering the 'Price' column as target variable which is to be predicted, how will you treat the missing values?
Give a brief explanation and treat the missing values in 'Price' column.
13. Now check the percentage of missing values in each column again, if missing values exist, treat it with the most
suitable method.
14. Now since you have completed your data cleaning, determine the number and percentage of columns removed.
15. Determine the number and percentage of rows removed in whole process. Also comment briefly that according
to you the amount of data lost is justified or not.

## Importing Library

In [1]:
#library
import pandas as pd

## Load Data

In [2]:
# Read Data
df=pd.read_csv('Melbourne_House_Prices.csv')
# Check if data is read successfully or not
df.head(3)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2.0,h,NaN,SS,Jellis,03-09-2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2.0,h,1480000.0,S,Biggin,03-12-2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2.0,h,1035000.0,S,Biggin,04-02-2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0

In [3]:
df.tail()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
23673,Wyndham Vale,25 Clitheroe Dr,3.0,u,NaN,PN,Harcourts,26-08-2017,27.2,3024.0,...,1.0,0.0,552.0,119.0,1990.0,NaN,-37.90032,144.61839,Western Metropolitan,5262.0
23674,Wyndham Vale,19 Dalrymple Bvd,4.0,h,NaN,S,hockingstuart,26-08-2017,27.2,3024.0,...,NaN,NaN,NaN,NaN,NaN,NaN,-37.87882,144.60184,Western Metropolitan,5262.0
23675,Yallambie,17 Amaroo Wy,4.0,h,1100000.0,S,Buckingham,26-08-2017,12.7,3085.0,...,3.0,2.0,NaN,NaN,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
23676,Yarraville,6 Agnes St,4.0,h,1285000.0,SP,Village,26-08-2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0
23677,Yarraville,33 Freeman St,4.0,h,1050000.0,VB,Village,26-08-2017,6.3,3013.0,...,2.0,2.0,NaN,139.0,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

We can see that the data has been read successfully. Now, let's go ahead perform the required analysis.

## Data Analysis
Here,I will analyze the data based on the questions above  one after the other.

####  1. Determine the no. of rows and no. of columns in the dataset.

In [4]:
# Shape(rows,columns)
df.shape

(23678, 21)

#### 2.Display the datatypes of each column

In [5]:
#Datatypes
df.dtypes

Suburb            object
Address           object
Rooms            float64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

Before Proceeding to the next Question let us first analyse the data further for more insights & Understanding.

#### 3.Determine the row indexes of rows having all null values (i.e. empty rows).

In [6]:
# Rows with missing values
df.isna().sum(axis=1)

0        3
1        2
2        0
3        3
4        0
        ..
23673    2
23674    8
23675    4
23676    1
23677    2
Length: 23678, dtype: int64

#### 4.Determine the total number of empty rows and their percentage in whole dataset and remove them

In [7]:
# Total_number of empty rows in each columns
df.isna().sum(axis=1)*100/len(df)

0        0.012670
1        0.008447
2        0.000000
3        0.012670
4        0.000000
           ...
23673    0.008447
23674    0.033787
23675    0.016893
23676    0.004223
23677    0.008447
Length: 23678, dtype: float64

#### 5. Determine the column names having missing values.

In [8]:
# columns with  Missing values
df.columns[df.isnull().any()]

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

#### 6. Determine the missing values and their percentage in each column.

In [9]:
# Total_number of empty rows in each columns
df.isna().sum()*100/len(df)

Suburb            0.553256
Address           0.553256
Rooms             0.553256
Type              0.553256
Price            22.307627
Method            0.553256
SellerG           0.553256
Date              0.553256
Distance          0.557480
Postcode          0.557480
Bedroom2         19.477996
Bathroom         19.490666
Car              20.090379
Landsize         26.471830
BuildingArea     57.690683
YearBuilt        51.262776
CouncilArea      33.879551
Lattitude        18.730467
Longtitude       18.730467
Regionname        0.557480
Propertycount     0.557480
dtype: float64

#### 7. Determine the row indexes having missing values

In [10]:
df.isnull().sum(axis=1)

0        3
1        2
2        0
3        3
4        0
        ..
23673    2
23674    8
23675    4
23676    1
23677    2
Length: 23678, dtype: int64

#### 8. Determine the missing values and their percentage in each row.

In [11]:
df.isnull().sum(axis=1)*100/len(df)

0        0.012670
1        0.008447
2        0.000000
3        0.012670
4        0.000000
           ...
23673    0.008447
23674    0.033787
23675    0.016893
23676    0.004223
23677    0.008447
Length: 23678, dtype: float64

#### 9. Determine the column names having more than 30% missing values and remove them from the dataset

In [12]:
pct_null = df.isnull().sum() / len(df)
missing_features = pct_null[pct_null > 0.30].index
df.drop(missing_features, axis=1, inplace=True)

#### 10. Determine the number and percentage of rows having more than 5 missing values. If the percentage of such rows is less than 20% then remove all these rows.

In [13]:
df.drop(df[df.isnull().sum(axis=1)>5].index,axis=0,inplace=True)

print(round(100*(1-df.count()/len(df)),2))

Suburb            0.00
Address           0.00
Rooms             0.00
Type              0.00
Price            21.71
Method            0.00
SellerG           0.00
Date              0.00
Distance          0.00
Postcode          0.00
Bedroom2          1.05
Bathroom          1.07
Car               1.81
Landsize          9.65
Lattitude         0.13
Longtitude        0.13
Regionname        0.00
Propertycount     0.00
dtype: float64

#### 11. Display the description of data and percentage of missing values still left column wise.

In [14]:
print(df.dtypes)
print()
print(df.isna().sum()*100/len(df))

Suburb            object
Address           object
Rooms            float64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

Suburb            0.000000
Address           0.000000
Rooms             0.000000
Type              0.000000
Price            21.708444
Method            0.000000
SellerG           0.000000
Date              0.000000
Distance          0.000000
Postcode          0.000000
Bedroom2          1.053506
Bathroom          1.069075
Car               1.806010
Landsize          9.647621
Lattitude         0.134932
Longtitude        0.134932
Regionname        0.000000
Propertycount     0.000000
dtype: float64

#### 12. Considering the 'Price' column as target variable which is to be predicted, how will you treat the missing values? Give a brief explanation and treat the missing values in 'Price' column.

In [15]:
# First I will find the mean_value in price column and replace the missing_values using the mean
mean=df['Price'].mean()
mean

1066694.6291263422

In [16]:
# Imputing missing value in Price_column
df['Price'].fillna(mean,inplace=True)
# confirm
df['Price'].isna().sum()

0

#### 13. Now check the percentage of missing values in each column again, if missing values exist, treat it with the most suitable method

In [17]:
df.isna().sum(axis=0)*100/len(df)

Suburb           0.000000
Address          0.000000
Rooms            0.000000
Type             0.000000
Price            0.000000
Method           0.000000
SellerG          0.000000
Date             0.000000
Distance         0.000000
Postcode         0.000000
Bedroom2         1.053506
Bathroom         1.069075
Car              1.806010
Landsize         9.647621
Lattitude        0.134932
Longtitude       0.134932
Regionname       0.000000
Propertycount    0.000000
dtype: float64

We can see there are few missing_values.So I will replace bathroom & Bedroom with 3-each, car with 1 & Landsize with mean.

In [18]:
# Imputing Missing values
df['Bedroom2'].fillna(3,inplace=True)
df['Bathroom'].fillna(3,inplace=True)
df['Car'].fillna(1,inplace=True)
df['Landsize'].fillna(551.7834577828834,inplace=True)
# Confirm
df.isna().sum(axis=0)*100/len(df)

Suburb           0.000000
Address          0.000000
Rooms            0.000000
Type             0.000000
Price            0.000000
Method           0.000000
SellerG          0.000000
Date             0.000000
Distance         0.000000
Postcode         0.000000
Bedroom2         0.000000
Bathroom         0.000000
Car              0.000000
Landsize         0.000000
Lattitude        0.134932
Longtitude       0.134932
Regionname       0.000000
Propertycount    0.000000
dtype: float64

#### 14. Now since you have completed your data cleaning, determine the number and percentage of columns removed.

#### 15. Determine the number and percentage of rows removed in whole process. Also comment briefly that according to you the amount of data lost is justified or not.